<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

  {% comment %} Added by MLVeda {% endcomment %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% render 'inline-script' %}
  
<!-- Reddit Pixel -->
{% comment %} type Added by MLVeda {% endcomment %}
<script type="text/customInlineScript">
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','a2_eddehfba0nxu', {"useDecimalCurrencyValues":true,"email":"<EMAIL-HERE>"});rdt('track', 'PageVisit');
</script>
<!-- DO NOT MODIFY UNLESS TO REPLACE A USER IDENTIFIER -->
<!-- End Reddit Pixel -->
<!-- Google Tag Manager -->
  {% comment %}type added by mlveda {% endcomment %}
<script type="text/customInlineScript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WTHN9TW');</script>
<!-- End Google Tag Manager -->

<!-- type added by mlveda -->
<script type="text/customInlineScript">
  (function(w,d,t,r,u)
  {
    var f,n,i;
    w[u]=w[u]||[],f=function()
    {
      var o={ti:"343105131", enableAutoSpaTracking: true};
      o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")
    },
    n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
    {
      var s=this.readyState;
      s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)
    },
    i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)
  })
  (window,document,"script","//bat.bing.com/bat.js","uetq");
</script>
  <!-- async added by mlveda -->

  {% comment %} Start of YMM Compatible Table Pagination JS - 786 {% endcomment %}
  {%- capture productTags -%}{{ product.tags | join:',' }}{%- endcapture -%} 
  {% if template == "product" %}
  {% unless productTags contains "disable_ymm" %}
  <script type="text/javascript" src="{{ 'ymm-custompage.js' | asset_url }}"></script>
  {% endunless %}
  {% endif %}
  {% comment %} End of YMM Compatible Table Pagination JS - 786 {% endcomment %}
  
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" async></script>
  <script>
  $m = $.noConflict();
</script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />
<link rel="preload" href="{{'arenafont.css' | asset_url }}" as="style">
  <link rel="stylesheet" type="text/css" href="https://visionxoffroad.com/cdn/shop/t/19/assets/theme.scss.css?v=7893028583008122831701795992" >
    <link href="{{ 'arenafont.css' | asset_url }}" rel="stylesheet" type="text/css" media="all"> 
  {%- liquid

    assign main_font = settings.main_font
    assign heading_font = settings.heading_font
    assign nav_font = settings.nav_font
    assign main_font_bold = main_font | font_modify: 'weight', 'bolder'
    assign main_font_italic = main_font | font_modify: 'style', 'italic'
    assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic'

  -%}

  <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
    <link href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  {% # De-optimise paginated collections - Added by LOGEIX April 6th 2024 %}
  {%- capture seo_title -%}
    {%- if request.page_type == "collection" and current_page != 1 -%}
      Page {{ current_page }} &ndash; {{ collection.title }}
    {%- else -%}
      {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.title.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.title.page' | t }} {{ current_page }}{% endif %}
    {%- endif -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip | default: shop.name }}</title>
  {% comment %}
  <title>{{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.title.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.title.page' | t }} {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {% endcomment %}
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}" />{% endif %}

  {% render 'social-media-tags' %}
  {% render 'structured-data' %}
  {% render 'css-variables' %}

  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">
  
  {% comment %}
  <!-- Added by mlveda -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
  {% endcomment %}
  
  {% comment %} Added by MLVeda : start {% endcomment %}
  <link rel="preload" href="{{ 'font-awesome.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'font-awesome.min.css' | asset_url }}"></noscript>
  {% comment %} Added by MLVeda : end {% endcomment %}
  
  {% comment %}
  <link rel="stylesheet" href="{{ 'mlveda-custom.css' | asset_url }}" type="text/css">
  
  <!-- preload added by mlveda -->
  {{ 'mlveda-custom.css' | asset_url | stylesheet_tag }}
  {% endcomment %}

  {% comment %} Added by MLVeda : start {% endcomment %}
  <link rel="preload" href="{{ 'mlveda-custom.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'mlveda-custom.css' | asset_url }}"></noscript>
  {% comment %} Added by MLVeda : end {% endcomment %}
  
  <style>
    {{ main_font | font_face: font_display: 'swap' }}
    {{ nav_font | font_face: font_display: 'swap' }}
    {{ heading_font | font_face: font_display: 'swap' }}
    {{ main_font_bold | font_face: font_display: 'swap' }}
    {{ main_font_italic | font_face: font_display: 'swap' }}
    {{ main_font_bold_italic | font_face: font_display: 'swap' }}

    @font-face {
    font-family: "arenafont";

    src: url(' {{ ' arenafont.eot' | asset_url }} ');

    src: url(' {{ ' arenafont.eot?#iefix' | asset_url }} ') format('embedded-opentype'),

    url(' {{ ' arenafont.woff2' | asset_url }} ') format('woff2'),

    url(' {{ ' arenafont.woff' | asset_url }} ') format('woff'),

    url(' {{ ' arenafont.ttf' | asset_url }} ') format('truetype'),

    url(' {{ ' arenafont.svg#arenafont' }}') format('svg');
    font-weight: normal;
    font-style: normal;
}
  </style>

  
  {% comment %} Added by MLVeda : start {% endcomment %}
      {% capture contentForHeader %}{{ content_for_header }}{% endcapture %}
       {% assign contentForHeader = contentForHeader | replace: '<script>(function() {', '<script type="text/customInlinedelay">(function() {'  %}
       {% assign contentForHeader = contentForHeader | replace: '<script class="analytics"', '<script class="analytics" type="text/customInlineScript">'  %} 
       {% assign contentForHeader = contentForHeader | replace: 'data-source-attribution="shopify.dynamic-checkout"', 'data-source-attribution="shopify.dynamic-checkout" type="text/customscript"'  %}
       {% assign contentForHeader = contentForHeader | replace: 'data-source-attribution="shopify.loadfeatures"', 'data-source-attribution="shopify.loadfeatures" type="text/customscript"'  %}
       {% assign contentForHeader = contentForHeader | replace: 'crossorigin="anonymous" defer="defer"', 'crossorigin="anonymous" defer="defer" type="text/customscript"'  %}
    {{ contentForHeader }} 
  {% comment %} Added by MLVeda : end {% endcomment %}
  

{% render 'w3-product-options', item: item, step:'header_inject' %}



<!-- preload added by mlveda -->
{{'w3-customizer-styles.css' | asset_url | stylesheet_tag: preload: true}}



<!-- preload added by mlveda -->
{{'w3-vantage-custom-styles.css' | asset_url | stylesheet_tag: preload: true}}
  
<!-- type added by mlveda -->
{% comment %}{{'w3-customizer-scripts.js' | asset_url | script_tag }}{% endcomment %}
  <script src="{{ 'w3-customizer-scripts.js' | asset_url }}" >

    {% comment %}below file (mlveda-preorder.css) is added by MLVeda for preorder functionalities.{% endcomment %}
  {{ 'mlveda-preorder.css' | asset_url | stylesheet_tag: preload: true }} {% comment %}preload added by mlveda{% endcomment %}

  {% include 'variable-products-head-template' %}
{% render 'wsg-custom' %}

{% render 'qikify-apps' %}

<!-- Affirm -->
<!--  type="text/customInlineScript" added by mlveda --> 
<script type="text/customInlineScript">
_affirm_config = {
   public_api_key:  "MPHHAYEWKXHZZMK7",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js"
};
(function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
// Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
</script>
<!-- End Affirm -->

  <script src="{{ 'mlveda-custom.js' | asset_url }}" defer></script>

  {% render 'shogun-head' %}
 {% comment %} {% render 'qikify-custom' %}{% endcomment %}
  <!-- added by mlveda -->
  <link rel="preload" as="image" href="https://denalielectronics.com/cdn/shop/files/R1300GS-CanSmart-Homepage-Banner-2000x800-01-01-01.jpg?v=1687268267&width=700" />
  <!-- <link rel="preload" as="image" href="https://denalielectronics.com/cdn/shop/files/DesertX.jpg?v=1687268267&width=700" /> -->

 {% comment %} type added by mlveda{% endcomment %}
<script type="text/customscript" src="https://cdn.alby.com/apps/launcher/embed.js?brandId=c9a25e7f-c836-4c44-90e1-ee6ff97ebf3f"></script>


        <!-- SlideRule Script Start -->
        {% include 'sliderule-data' %}
        <!-- SlideRule Script End -->
        {% include 'pagefly-app-header' %}

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "o5ommnqn9i");
</script>

</head>

{% comment %} Added class lazy-content-0 by MLVeda {% endcomment %}
<body class="lazy-content-0 gridlock {{ template | handleize }} template-{{ template | handleize }} js-slideout-toggle-wrapper js-modal-toggle-wrapper {% render 'body-classes' %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTHN9TW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Added by mlveda -->
  <style>
    @media only screen and (max-width: 425px){
      #slideshow--template--16740984422584__slideshow{
          height: 390px;
          overflow-y: hidden;
      }
      #shopify-section-template--16740984422584__1402a8b7-3618-4ba9-b96b-0c5cb194886f{
        height: 1400px;
        overflow-y: hidden;
      }
      body.template-product #slider .carousel-cell{
        opacity: 1 !important;
      }
    body.template-product #slider .product-image-container{
        height: 277px;
        overflow-y: hidden;
    }
  }
    @media only screen and (min-width: 740px){
      #global__section-template--16740984422584__slideshow{
          max-height: 950px;
          /* height: 800px; */
          overflow-y: hidden;
      }
      .global__section-template--16740984422584__1402a8b7-3618-4ba9-b96b-0c5cb194886f{
        max-height: 500px;
        overflow-y: hidden;
      }
      #shopify-section-template--16740984422584__162923332329533d70 .global__section-template--16740984422584__162923332329533d70{
          max-height: 250px;
          overflow-y: hidden;
      }
      /* body.template-product #slider .product-image-container{
          height: 800px;
          overflow: hidden;
      } */
    }
  .options-hidden{display: grid !important;}
  #shopping-cart .remove-product{
  	right:auto;
  }
  </style>
  
  {% render 'w3-stock-check' %}
  <!-- Added by mlveda -->
  
  {%- comment -%}YMM Result Page - Mobile Filter - 786{%- endcomment -%}
  {%- if template.suffix == "ymm-custom" -%}
  {% render "ymm_mobile_filter" %}
  {%- endif -%}
  {%- comment -%} Ended Here - 786{%- endcomment -%}
  <!-- Added by mlveda -->
  
  {% if settings.enable_age_verify %}
    {% render 'age-verification' %}
  {% endif %}
  
  <div class="js-slideout-overlay site-overlay"></div>
  <div class="js-modal-overlay site-overlay"></div>

  <aside class="slideout slideout__drawer-left" data-wau-slideout="mobile-navigation" id="slideout-mobile-navigation">
    {% section 'mobile-navigation' %}
  </aside>

  <main class="site-wrap" role="main" data-money-format="{{ shop.money_format }}">
    <div id="wrapper" class="site-wrap__container">
    {% sections 'header-group' %}

      <!-- Added by mlveda -->
    {% if template contains 'index' or template contains 'collection' or template contains 'blog' or template contains 'list-collections' or template contains 'page.custom-' or template contains 'product.custom-' or template contains 'collection.custom-' %}
     {% else %}     
       {% render 'breadcrumb' %}
    {% endif %}
      <!-- Added by mlveda -->
      
       {{ content_for_layout }}

      <div class="clear"></div>
    </div> <!-- End wrapper -->
    {% sections 'footer-group' %}
  </main>

  {%- if settings.cart_type == 'drawer' -%}
  <aside class="slideout slideout__drawer-right mini-cart" data-wau-slideout="ajax-cart" id="slideout-ajax-cart">
    {% render 'cart-mini' %}
  </aside>
  {% elsif settings.cart_type == 'modal_cart' %}
  <div class="modal__container" data-wau-modal="ajax-cart" id="modal-ajax-cart">
    <div class="modal__inner-wrapper">
      {% render 'cart-mini' %}
    </div>
  </div>
  {%- endif -%}
  {%- if settings.quickview -%}
  <div class="modal__container" data-wau-modal="quickview" id="modal-quickview-cart">
    <div class="modal__inner-wrapper">
      {%- render 'product-quickview' -%}
    </div>
  </div>
  {%- endif -%}

  {% render 'cart-config' %}
  <script src="{{ 'eventemitter3.min.js' | asset_url }}" defer></script>
  <script src="{{ 'theme.js' | asset_url }}" defer></script>

  {% section 'mailing-popup' %}

  {%- if request.page_type contains 'customers/' or template == 'cart' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  {%- if request.page_type contains 'customers/' -%}
  <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  <script>
    document.documentElement.className =
    document.documentElement.className.replace("no-js","js");
  </script>

  <script type="text/javascript">
    var jsAssets = {
      "parallax": {{ 'vendor-parallax.js' | asset_url | json }}
    }
    var jsFormat = {
      "money": {{ shop.money_format | json }}
    }
  </script>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            {% render 'snip-icons',
               wrapper: '.pswp__button',
               type: 'apollo',
               icon: 'flickity-left-carrot',
               classes: 'pswp__button--icon',
               size: '14px',
               fill: 'var(--directional-color)',
               hover: 'var(--directional-color)' %}
          </button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            {% render 'snip-icons',
               wrapper: '.pswp__button',
               type: 'apollo',
               icon: 'flickity-right-carrot',
               classes: 'pswp__button--icon',
               size: '14px',
               fill: 'var(--directional-color)',
               hover: 'var(--directional-color)' %}
          </button>
          <button class="pswp__button pswp__button--close" title="Close (Esc)">
            {% render 'snip-icons',
               wrapper: '.pswp__button',
               type: 'apollo',
               icon: 'close',
               classes: 'pswp__button--icon',
               size: '14px',
               fill: 'var(--directional-color)',
               hover: 'var(--directional-color)' %}
          </button>
      </div>
    </div>
  </div>

  <aside class="slideout slideout__drawer-right" data-wau-slideout="store-availability" id="slideout-store-availability">
  </aside>

  {% comment %} <script>
	var mlHelpScoutgetURL = window.location.hostname;
   // console.log("hostname",getURL);
      if(mlHelpScoutgetURL == "denalielectronics.com"){
        <!-- HelpScout Beacon Chat icon code -->
        <!--type changed by mlveda type="text/customInlineScript" --->
        <script type="text/customInlineScript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
        <script type="text/customInlineScript">window.Beacon('init', '24611486-1b6e-44f8-bdb6-f6bad82171a8')</script>
        <!-- HelpScout Beacon Chat icon code -->
      }
      else if(mlHelpScoutgetURL == "uk.denalielectronics.com"){
        <!-- HelpScout Beacon Chat icon code -->
        <!--type changed by mlveda type="text/customInlineScript" --->
        <script type="text/customInlineScript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
        <script type="text/customInlineScript">window.Beacon('init', 'ae457a76-79f1-4167-a6aa-06b2a9130d94')</script>
        <!-- HelpScout Beacon Chat icon code -->
      }
      else{
        
      }
  </script>{% endcomment %}
  
  <!-- HelpScout Beacon Chat icon code (Original)-->
  <!--type changed by mlveda type="text/customInlineScript" --->
  <!-- <script type="text/customInlineScript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
  <script type="text/customInlineScript">window.Beacon('init', '24611486-1b6e-44f8-bdb6-f6bad82171a8')</script> -->
  <!-- HelpScout Beacon Chat icon code (Original)-->

  <!-- HelpScout Beacon Chat icon code -->
  <!--type changed by mlveda type="text/customInlineScript" --->
 
   <script type="text/javascript">
	var mlhelpscoutgetURL = window.location.hostname;
    if(mlhelpscoutgetURL == "denalielectronics.com"){
        !function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});
     }
     else if(mlhelpscoutgetURL == "uk.denalielectronics.com"){
		!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});
     }
      else{
		!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});
        
      }
   </script>
   <script type="text/customInlineScript">
     var mlhelpscoutgetURL1 = window.location.hostname;
      if(mlhelpscoutgetURL1 == "denalielectronics.com"){
   		window.Beacon('init', '24611486-1b6e-44f8-bdb6-f6bad82171a8')
   	}
  	else if(mlhelpscoutgetURL1 == "uk.denalielectronics.com"){
  		window.Beacon('init', 'ae457a76-79f1-4167-a6aa-06b2a9130d94')
      }
      else{
          window.Beacon('init', 'c339aad9-bb56-4a07-8003-11834fabe85c');
     console.log("init successfull");
      }
    </script>
  <!-- HelpScout Beacon Chat icon code -->
  
        {% comment %}The below script is added by Erik Stephens for Google Merchant Center Google Reviews Badge Code.{% endcomment %}
        <!-- type added by mlveda type="text/customscript"-->
        <script type="text/customscript" src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
        
        <!-- type added by mlveda type="text/customInlineScript" -->
        <script type="text/customInlineScript">
        var mlgooglemarchantcentergetURL = window.location.hostname;
        if(mlgooglemarchantcentergetURL == "denalielectronics.com"){
        window.renderBadge = function() {
        var ratingBadgeContainer = document.createElement("div");
        document.body.appendChild(ratingBadgeContainer);
        window.gapi.load('ratingbadge', function() {
        window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 133829675});
        });
        }
        }
        else{}
        </script>
        <!-- type added by mlveda -->
  
    <script type="text/customInlineScript">
    $m(".swym-wishlist").click(function(){
      $m(".slideout__drawer-left").removeClass("slideout--active");
      $m("body").removeClass("slideout-left--open");
    });
  </script>
{% render 'mlv_lazyload-script' %}
<!--BeginCFFPersistentCartCart-->
{% if customer %}
<script>

    window.cffCustomer = {
        name: '{{customer.name}}',
        email: '{{customer.email}}',
        hasAccount: '{{customer.has_account}}',
        id: '{{customer.id}}'
    };


</script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart-->
<!-- Added by mlveda -->
{% render 'delear-page-conditional-link' %}
  <script>
    $m('.slideout__trigger-search').on('click', function() {
      setTimeout(()=>{
      $m('.search__input').focus();
      },1000);
    });
  </script>

<!-- Edit here line 547 on theme.liquid to change announcement bar text  -->  
  <script>
	var getURL = window.location.hostname;
   console.log("hostname",getURL);
      if(getURL == "denalielectronics.com"){
      $m(".mlannouncementbartext").html('Free Shipping on Orders Over $49 <a href="/collections/new-products">Shop Now</a>');
      }
      else if(getURL == "uk.denalielectronics.com"){
      $m(".mlannouncementbartext").html('Free Shipping on Orders Over £99 <a href="/collections/new-products">Shop Now</a>');
      }
      else if(getURL == "visionxoffroad.com"){ 
          $m(".mlannouncementbartext").html('Free Shipping on Orders Over $99 <a href="/collections/all">Shop Now</a>');
      }
  </script>

<script>
  document.querySelectorAll(".expand").forEach((item)=>{
    item.addEventListener("click",()=>{
      const parentnode = item.parentNode ;
    parentnode.classList.toggle("s-open");
    if(parentnode.querySelector(".dropdown-menu").style.display=="block"){
    parentnode.querySelector(".dropdown-menu").style.display="none";
    }else{
    parentnode.querySelector(".dropdown-menu").style.display="block";
      
    }
    })
    
  })
</script>
  
<!-- Added by mlveda -->
{% render 'mlv_lazyload-script' %}

</body>
</html>
