<style>
   table {
     font-family: arial, sans-serif;
     border-collapse: collapse;


   }

   td, th {

     text-align: left;
     padding: 14px;
     width: 59px;


   }
   .outer{
     display:flex;
       justify-content: center;
     gap:30px;


     margin-top:50px
   }
   .wraper{
     padding:20px;

   }
   .img{
     display:flex;
     flex-direction:column;
   }
   .title{
        margin-left: 251px;

   }
  .tab{

  }
</style>
<div class="wraper" style="background-color: black; color: white;">
  <div class="title">
    <h3>{{ section.settings.title }}</h3>
  </div>
  <div class="outer">
    <div class="tab">
      <table style=" cellspacing=10">
        <tr>
          <th>{{ section.settings.head1 }}</th>
          <th>{{ section.settings.head2 }}</th>
          <th>{{ section.settings.head3 }}</th>
          <th>{{ section.settings.head4 }}</th>
        </tr>
        {% for block in section.blocks %}
          <tr>
            <td>{{ block.settings.ele1 }}</td>
            <td>{{ block.settings.ele2 }}</td>
            <td>{{ block.settings.ele3 }}</td>
            <td>{{ block.settings.ele4 }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="img">
      {% for block in section.blocks %}
        {% if block.type == 'Gallery' %}
          <img
            src="{{ block.settings.image1 | image_url}}"
            width="630px"
            height="184px"
          >
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Section name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    },
    {
      "type": "text",
      "id": "head1",
      "label": "Head-1"
    },
    {
      "type": "text",
      "id": "head2",
      "label": "Head-2"
    },
    {
      "type": "text",
      "id": "head3",
      "label": "Head-3"
    },
    {
      "type": "text",
      "id": "head4",
      "label": "Head-4"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Table",
      "settings": [
        {
          "type": "text",
          "id": "ele1",
          "label": "Element-1"
        },
        {
          "type": "text",
          "id": "ele2",
          "label": "Element-2"
        },
        {
          "type": "text",
          "id": "ele3",
          "label": "Element-3"
        },
        {
          "type": "text",
          "id": "ele4",
          "label": "Element-4"
        }
      ]
    },
    {
      "type": "Gallery",
      "name": "Gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Select Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Dare-to-compare"
    }
  ]
}
{% endschema %}
